<div class="w3l_banner_nav_right">
  <!-- login -->
      <div class="w3_login">
        <h3>Sign In & Sign Up</h3>
        <div class="w3_login_module">
          <div class="module form-module">
            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
            </div>
            <div class="form">
            <h2>Login to your account</h2>
            <h4>{{msg}}</h4>
            <form (submit)="dologin(login)" #login="ngForm">
              <input type="text" name="Username" placeholder="Username" ngModel required=" ">
              <input type="password" name="Password" placeholder="Password" ngModel required=" ">
              <input type="submit" value="Login">
            </form>
            </div>
            <div class="form">
            <h2>Create an account</h2>
            <h4>{{msg}}</h4>
            <form #reg="ngForm" (submit)="doRegister(reg)">
              <input type="text" name="Username" placeholder="Username" ngModel required=" ">
              <input type="password" name="Password" placeholder="Password" ngModel required=" ">
              <input type="email" name="Email" placeholder="Email Address" ngModel required=" ">
              <input type="text" name="Phone" placeholder="Phone Number" ngModel required=" ">
              <input type="submit" value="Register">
            </form>
            </div>
            <div class="cta"><a href="#">Forgot your password?</a></div>
          </div>
        </div>
        
      </div>
  <!-- //login -->
      </div>
      <div class="clearfix"></div>
     
     
